@charset "utf-8";
/**
* author:xiezh
* date:20150712
* 首页所有样式
*/

/*初始化 */
* {
    padding: 0;
    margin: 0;
    border: none 0;
}

ul, ol {
    list-style-type: none;
    margin: 0;
    padding: 0;
    border: 0 none;
}

/** IE 7 ul li 上下间距兼容*/
ul li, ol li {
    margin: 0;
    padding: 0;
    border: 0 none;
    vertical-align: bottom;
}

a {
    text-decoration: none;
}

a:hover {
    text-decoration: none;
}

a {
    display: block;
}

body {
    font-size: 12px;
    font-family: "宋体", "Microsoft Yahei", "Arial",;
    font-weight: 400;
    color: #666;
}

/**客服悬浮窗*/
.kf-box {
    position: fixed;
    right: 0px;
    top: 260px;
    z-index: 999999;
}

#box {
    width: 51px;
    height: 132px;
}

#box .hid {
    width: 51px;
    height: 132px;
    background: url(../images/kf_07.png) no-repeat;
}

#box .dis {
    width: 132px;
    height: 132px;
    background: url(../images/kf_03.png) no-repeat;
}

#box .dis a:nth-child(1) {
    height: 52px;
}

#box .dis a:nth-child(2) {
    height: 74px;
}

/**页面顶部样式*/

.header {
    width: 100% !important;
    background: #fdfdfd;
    border-bottom: 1px solid #eee;
}

.header .top {
    width: 1170px;
    height: 30px;
    margin: 0px auto;
    overflow: hidden;
}

.header .top .index-top-left {
    width: 346px;
    height: 30px;
    float: left;
}

.header .top .index-top-left ul {
    overflow: hidden;
}

.header .top .index-top-left ul li {
    float: left;
    margin-right: 5px;
    padding-left: 5px;
    padding-right: 5px;
    line-height: 30px;
}

.header .top .index-top-left ul li .colorGray {
    color: #a8a6aa;
    cursor: default;
}

.header .top .index-top-left ul li .colorBlack {
    color: #666;
}

.header .top .index-top-left ul li .colorBlack:hover {
    text-decoration: underline;
}

.header .top .index-top-left ul li .colorGreen {
    color: #50b849;
    font-weight: 500;
}

.header .top .index-top-left ul li .colorGreen:hover {
    text-decoration: underline;
}

.header .top .index-top-right {
    width: 360px;
    height: auto;
    float: right;
}

.header .top .index-top-right ul {
    overflow: hidden;
    height: 30px;
    margin-top: 9px;
    line-height: 12px
}

.header .top .index-top-right ul .borderRight {
    border-right: 1px solid #eee;
}

.header .top .index-top-right ul li {
    float: left;
    margin-left: 5px;
    padding-left: 8px;
    padding-right: 8px;
}

.header .top .index-top-right ul li a {
    color: #666
}

.header .top .index-top-right ul li a:hover {
    color: #f76120
}

/**logo  搜索框 */
.index-head {
    width: 1170px;
    height: 78px;
    margin: 15px auto;
    /*overflow: hidden;*/
}

.index-head .index-head-left {
    width: 277px;
    height: 78px;
    overflow: hidden;
    float: left;
}

.index-head .index-head-left .i-head-left-logo {
    width: 175px;
    float: left;
    margin-left: 2px;
}

.index-head .index-head-left .i-head-left-logo a img {
    max-width: 175px;
}

.index-head .index-head-left .i-head-left-loc {
    width: 75px;
    height: 73px;
    float: left;
}

.index-head .index-head-left .i-head-left-loc .i-headLeft-curLoc {
    font-size: 18px;
    font-weight: 700;
    font-family: "宋体";
    color: #000;
    height: 25px;
    line-height: 25px;
    margin-left: 5px;
    margin-top: 8px;
}

.index-head .index-head-left .i-head-left-loc .i-headLeft-changeLoc a {
    line-height: 12px;
    margin-top: 5px;
    color: #999;
    text-align: center;
    border: 1px solid #eee;
    padding: 5px 5px;
    margin-left: 5px;
}

.index-head .index-head-left .i-head-left-loc .i-headLeft-changeLoc a:hover {
    color: #f26020;
}

.index-head .index-head-mid {
    width: 670px;
    height: 80px;
    /*overflow: hidden;*/
    float: left;
    font-size: 14px;
}

.index-head .index-head-mid .index-head-mid-searchBox {
    margin: 10px auto 2px;
    width: 487px;
    height: 40px;
    border: 2px solid #f76120;
}

.index-head .index-head-mid .i-head-mid-sLabel {
    width: 487px;
    height: auto;
    margin: 10px auto;
    line-height: 15px;
    font-size: 12px;
    overflow: hidden;
}

.index-head .index-head-mid .i-head-mid-sLabel a {
    color: #666;
    padding-left: 8px;
    padding-right: 8px;
    float: left;
}

.index-head .index-head-mid .i-head-mid-sLabel a:hover {
    color: #f78a25
}

.index-head .index-head-mid .i-head-mid-sLabel .sHot {
    color: #f78a25;
}

.index-head .index-head-mid .index-head-mid-searchBox .i-head-mid-sList {
    width: 61px;
    height: 40px;
    float: left;
    cursor: pointer;
}

.index-head .index-head-mid .index-head-mid-searchBox .i-head-mid-sList .s-list {
    text-align: center;
    width: 61px;
    height: 40px;
    line-height: 40px;
    position: relative;
}

/**start 搜索下拉列表*/
.index-head .index-head-mid .index-head-mid-searchBox .i-head-mid-sList .s-list .index-spCp {
    width: 60px;
    height: auto;
    background: #fff;
    border-right: 1px solid #eee;
    border-left:1px solid transparent;
    border-bottom: 1px solid transparent;
}

.index-head .index-head-mid .index-head-mid-searchBox .i-head-mid-sList .s-list .index-spCp a {
    color: #666;
    height: 38px;
    line-height: 38px;
}

.index-head .index-head-mid .index-head-mid-searchBox .i-head-mid-sList .s-list .index-spCp a:hover {
    background: #f9f9f9;
}

.index-head .index-head-mid .index-head-mid-searchBox .i-head-mid-sList .s-list .index-spCp .index-sp{
    display: block;
}

.index-head .index-head-mid .index-head-mid-searchBox .i-head-mid-sList .s-list .index-spCp .index-cp{
    display: none;
}

.index-head .index-head-mid .index-head-mid-searchBox .i-head-mid-sList .s-list .down-arrow{
    position: absolute;
    top: 18px;
    right: 5px;
    width: 0px;
    height: 0px;
    font-family: "宋体";
    border-top: 3px solid #f1601f;
    border-left: 3px solid #fff;
    border-bottom: 3px solid #fff;
    border-right: 3px solid #fff;
}

.index-head .index-head-mid .index-head-mid-searchBox .i-head-mid-sList .s-list .up-arrow{
    position: absolute;
    top: 15px;
    right: 5px;
    width: 0px;
    height: 0px;
    font-family: "宋体";
    border-top: 3px solid #fff;
    border-left: 3px solid #fff;
    border-bottom: 3px solid #f1601f;
    border-right: 3px solid #fff;
}


/**end 搜索下拉列表*/

.index-head .index-head-mid .index-head-mid-searchBox .i-head-mid-sInput {
    width: 358px;
    height: 40px;
    float: left;
}

.index-head .index-head-mid .index-head-mid-searchBox .i-head-mid-sInput input {
    width: 353px;
    padding-left: 10px;
    height: 39px;
    line-height: 30px;
    border-right: 1px solid #eee;
    color: #888;
    font-size: 14px;
    font-family: "宋体";outline:medium;
}

.index-head .index-head-mid .index-head-mid-searchBox .i-head-mid-sBtn {
    width: 65px;
    height: 40px;
    float: right;
}

.index-head .index-head-mid .index-head-mid-searchBox .i-head-mid-sBtn a {
    width: 65px;
    height: 40px;
    background-color: #f76120;
    color: #fff;
    text-align: center;
    line-height: 42px;
    font-size: 16px;
    font-family: "微软雅黑";
}

.index-head .index-head-mid .index-head-mid-searchBox .i-head-mid-sBtn:hover {
    filter: alpha(opacity=80);
    opacity: 0.8;
}

.index-head .index-head-right {
    width: 210px;
    height: auto;
    overflow: hidden;
    float: right;
}

.index-head .index-head-right ul {
    overflow: hidden;
    margin-top: 8px;
}

.index-head .index-head-right ul li {
    width: 65px;
    height: auto;
    float: right;
}

.index-head .index-head-right ul li .i-head-right-serverIcon {
    text-align: center;
}

.index-head .index-head-right ul li .i-head-right-serverText {
    text-align: center;
    color: #a8a6aa;
    margin-top: 5px;
}

/**导航栏*/
.index-navigator {
    width: 1170px;
    height: auto;
    margin: 0px auto;
    overflow: hidden;
    font-family: "宋体";
}

.index-navigator .index-nav-main {
    width: 247px;
    height: 42px;
    float: left;
    background: #ec5918;
}

.index-navigator .index-nav-main a {
    width: 237px;
    height: 45px;
    color: #fff;
    padding-left: 15px;
    line-height: 45px;
    font-size: 15px;
}

.index-navigator .index-nav-main a:hover {
    background: #ec5918;
}

.index-navigator .index-nav-sub {
    width: 923px;
    height: 42px;
    float: right;
    background: #f26020;
}

.index-navigator .index-nav-sub ul {
    overflow: hidden;
}

.index-navigator .index-nav-sub ul li {
    float: left;
}

.index-navigator .index-nav-sub ul li a {
    height: 45px;
    line-height: 45px;
    font-size: 16px;
    color: #fff;
    padding-left: 30px;
    padding-right: 30px;
    text-align: center; font-weight:bold;
}

.index-navigator .index-nav-sub ul li a:hover {
    background: #f67339;
}

/**导航栏 图片滚动 广告*/
.index-sub-navigator {
    width: 1170px;
    margin: 0px auto;
    overflow: hidden;
}

.index-sub-navigator .index-sub-navLeft {
    width: 245px;
    height: auto;
    border-left: 1px solid #eee;
    border-right: 1px solid #eee;
    border-bottom: 1px solid #eee;
    float: left;
}

.index-sub-navigator .index-sub-navLeft .i-index-sub-boxBg {
    width: 245px;
    height: auto;
    margin: 0px auto;
    background: #fff;
    cursor: pointer;
    overflow: hidden;
}

.index-sub-navigator .index-sub-navLeft .i-index-sub-boxBg:hover {
    background: #fff;
}

.index-sub-navigator .index-sub-navLeft .i-index-sub-boxBg .i-sub-list {
    width: 235px;
    height: 47px;
    margin: 0px auto;
    overflow: hidden;
}

.index-sub-navigator .index-sub-navLeft .i-index-sub-boxBg .underline {
    border-bottom: 1px solid #eee;
}

.index-sub-navigator .index-sub-navLeft .i-index-sub-boxBg .i-sub-list .i-sub-list-box {
    width: 235px;
    height: 47px;
    overflow: hidden;
}

.index-sub-navigator .index-sub-navLeft .i-index-sub-boxBg .i-sub-list .i-sub-list-box .i-sub-list-content {
    width: 215px;
    height: 48px;
    float: left;
}

.index-sub-navigator .index-sub-navLeft .i-index-sub-boxBg .i-sub-list .i-sub-list-box .i-sub-list-content dl {
    overflow: hidden;
}

.index-sub-navigator .index-sub-navLeft .i-index-sub-boxBg .i-sub-list .i-sub-list-box .i-sub-list-content dl dt {
    padding-left: 10px;
    line-height: 48px;
    float: left;
}

.index-sub-navigator .index-sub-navLeft .i-index-sub-boxBg .i-sub-list .i-sub-list-box .i-sub-list-content dl dt a {
    color: #444;
    font-size: 14px;
    font-weight: 600;
}

.index-sub-navigator .index-sub-navLeft .i-index-sub-boxBg .i-sub-list .i-sub-list-box .i-sub-list-content dl dt a:hover {
    color: #f26020;
}

.index-sub-navigator .index-sub-navLeft .i-index-sub-boxBg .i-sub-list .i-sub-list-box .i-sub-list-content dl dd {
    line-height: 48px;
    float: right;
    margin-left: 3px;
}

.index-sub-navigator .index-sub-navLeft .i-index-sub-boxBg .i-sub-list .i-sub-list-box .i-sub-list-content dl dd a {
    color: #999;
    font-size: 12px;
}

.index-sub-navigator .index-sub-navLeft .i-index-sub-boxBg .i-sub-list .i-sub-list-box .i-sub-list-content dl dd a:hover {
    color: #f67339;
}

.index-sub-navigator .index-sub-navLeft .i-index-sub-boxBg .i-sub-list .i-sub-list-box .i-sub-list-icon {
    display: block;
    float: right;
    width: 12px;
    height: 48px;
    background: url(../images/index_87.png) center center;
    background-repeat: no-repeat;
    line-height: 48px;
    color: #999;
    text-align: center;
    font-size: 15px;
}

.index-sub-navigator .index-sub-navMid {
    width: 720px;
    height: auto;
    float: left;
}

.index-sub-navigator .index-sub-navMid .i-sub-mid-hCity {
    width: 720px;
}

.index-sub-navigator .index-sub-navMid .i-sub-mid-hCity .i-sub-mid-box {
    width: 700px;
    height: 47px;
    margin: 0px auto;
    overflow: hidden;
}

.index-sub-navigator .index-sub-navMid .i-sub-mid-hCity .underline {
    border-bottom: 1px solid #eee;
}

.index-sub-navigator .index-sub-navMid .i-sub-mid-hCity .i-sub-mid-box .i-sub-mid-hCity-label {
    width: 100px;
    float: left;
}

.index-sub-navigator .index-sub-navMid .i-sub-mid-hCity .i-sub-mid-box .i-sub-mid-hCity-label span {
    display: inline-block;
    float: left;
}

.index-sub-navigator .index-sub-navMid .i-sub-mid-hCity .i-sub-mid-box .i-sub-mid-hCity-label .GPS-icon {
    padding-top: 14px;
    margin-right: 5px;
}

.index-sub-navigator .index-sub-navMid .i-sub-mid-hCity .i-sub-mid-box .i-sub-mid-hCity-label .GPS-label {
    color: #999;
    line-height: 46px;
}

.index-sub-navigator .index-sub-navMid .i-sub-mid-hCity .i-sub-mid-box .i-sub-mid-hCity-list {
    width: 600px;
    float: right;
}

.index-sub-navigator .index-sub-navMid .i-sub-mid-hCity .i-sub-mid-box .i-sub-mid-hCity-list ul {
    width: 600px;
    height: auto;
    text-align: center;
}

.index-sub-navigator .index-sub-navMid .i-sub-mid-hCity .i-sub-mid-box .i-sub-mid-hCity-list ul li {
    width: 55px;
    line-height: 46px;
    float: left;
}

.index-sub-navigator .index-sub-navMid .i-sub-mid-hCity .i-sub-mid-box .i-sub-mid-hCity-list ul li .Goranger {
    color: #f76120;
}

.index-sub-navigator .index-sub-navMid .i-sub-mid-hCity .i-sub-mid-box .i-sub-mid-hCity-list ul li a {
    color: #666;
}

.index-sub-navigator .index-sub-navMid .i-sub-mid-hCity .i-sub-mid-box .i-sub-mid-hCity-list ul li a:hover {
    color: #f76120;
}

.index-sub-navigator .index-sub-navMid .i-sub-mid-picPlay {
    width: 725px;
    height: 386px;
}

.index-sub-navigator .index-sub-navMid .i-sub-mid-picPlay .i-sub-pic {
    position: relative;
    width: 693px;
    height: 385px;
    margin: 0px auto;
}

.index-sub-navigator .index-sub-navMid .i-sub-mid-picPlay .i-sub-pic ul li {
    position: absolute;
}

.index-sub-navigator .index-sub-navMid .i-sub-mid-picPlay .i-sub-pic ul li a img {
    width: 693px;
    height: 385px;
    margin: 0px auto;
}

.index-sub-navigator .index-sub-navMid .i-sub-mid-picPlay .i-sub-pic .prev {
    background: url(../images/left.png) center center;
    left: 0px;
}

.index-sub-navigator .index-sub-navMid .i-sub-mid-picPlay .i-sub-pic .next {
    background: url(../images/right.png) center center;
    right: 0px;
}

.index-sub-navigator .index-sub-navMid .i-sub-mid-picPlay .i-sub-pic .btn-loc {
    position: absolute;
    width: 30px;
    height: 39px;
    top: 150px;
    filter: alpha(opacity=30);
    opacity: 0.3;
}

.index-sub-navigator .index-sub-navMid .i-sub-mid-picPlay .i-sub-pic .btn-loc:hover {
    filter: alpha(opacity=100);
    opacity: 1;
}

.index-sub-navigator .index-sub-navRight {
    width: 197px;
    height: 480px;
    float: right;
    border-left: 1px solid #eee;
    border-bottom: 1px solid #eee;
    border-right: 1px solid #eee;
}

.index-sub-navigator .index-sub-navRight .i-right-weiXin {
    width: 197px;
    height: 155px;padding-top:15px;
    border-bottom: 1px solid #eee;
}

.index-sub-navigator .index-sub-navRight .i-right-weiXin a {
    text-align: center;
}

.index-sub-navigator .index-sub-navRight .i-right-ads {
    width: 197px;
    height: 325px;
    /*margin-top: 10px;*/
}

.index-sub-navigator .index-sub-navRight .i-right-ads a {
    text-align: center;
}

/**猜你喜欢*/
.index-guess-rec-top {
    width: 1170px;
    height: 730px;
    overflow: hidden;
    margin: 25px auto 0px;
}

.index-guess-rec-top .index-guess-rec-top-left {
    width: 954px;
    height: 720px;
    float: left;
}

.index-guess-rec-top .index-guess-rec-top-left .index-guess {
    width: 954px;
    height: auto;

}

.index-guess-rec-top .index-guess-rec-top-left .index-guess .index-guess-top {
    width: auto;
    height: 50px;
    overflow: hidden;
}

.index-guess-rec-top .index-guess-rec-top-left .index-guess .index-guess-top .guess-left {
    width: 225px;
    height: auto;
    float: left;
}

/**猜你喜欢图标*/
.index-guess-rec-top .index-guess-rec-top-left .index-guess .index-guess-top .guess-left .guess-icon {
    width: 37px;
    height: 37px;
    display: block;
    margin-top: 6px;
    margin-right: 5px;
    float: left;
    background: url(../images/guess.png) center center;
}

/*商家推荐图标*/
.index-guess-rec-top .index-guess-rec-top-left .index-guess .index-guess-top .guess-left .rec-icon {
    width: 37px;
    height: 37px;
    display: block;
    margin-top: 6px;
    margin-right: 5px;
    float: left;
    background: url(../images/recommend.png) center center;
}

.index-guess-rec-top .index-guess-rec-top-left .index-guess .index-guess-top .guess-left em {
    display: block;
    line-height: 50px;
    font-style: normal;
    font-size: 20px;
    font-family: "Microsoft Yahei";
    font-weight: 500;
}

.index-guess-rec-top .index-guess-rec-top-left .index-guess .index-guess-top .guess-right {
    width: 170px;
    height: auto;
    float: right;
}

.index-guess-rec-top .index-guess-rec-top-left .index-guess .index-guess-top .guess-right a {
    padding: 5px 15px;
    float: right;
    margin-top: 10px;
    border: 1px solid #b7b7b7;
    font-family: "宋体";
    font-size: 15px;
    color: #666;
}

.index-guess-rec-top .index-guess-rec-top-left .index-guess .index-guess-top .guess-right a:hover {
    color: #999;
    border: 1px solid #777;
}

.index-guess-rec-top .index-guess-rec-top-left .index-guess .index-guess-top .guess-right .less-than {
    margin-right: -1px;
}

.index-guess-rec-top .index-guess-rec-top-left .index-guess .index-guess-content {
    width: auto;
    border: 1px solid #eee;
    overflow: hidden;
}

.index-guess-rec-top .index-guess-rec-top-left .index-guess .index-guess-content ul {
    position: relative;
}

.index-guess-rec-top .index-guess-rec-top-left .index-guess .index-guess-content ul li {
    overflow: hidden;
}

.index-guess-rec-top .index-guess-rec-top-left .index-guess .index-guess-content ul li .list-box {
    width: 234px;
    height: auto;
    border: 2px solid transparent;
    float: left;
}

.index-guess-rec-top .index-guess-rec-top-left .index-guess .index-guess-content ul li .list-box .content-box {
    width: 200px;
    height: auto;
    margin: 20px auto;
}

.content-box-pic { margin-bottom:5px;}
.index-guess-rec-top .index-guess-rec-top-left .index-guess .index-guess-content ul li .list-box .content-box-pic a {
    text-align: center;
}

.index-guess-rec-top .index-guess-rec-top-left .index-guess .index-guess-content ul li .list-box .content-box-name p a {
    color: #666;
    line-height: 28px;
    width: 200px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    font-weight: 600;
    font-size: 14px;
}

.index-guess-rec-top .index-guess-rec-top-left .index-guess .index-guess-content ul li .list-box .content-box-name p a:hover {
    color: #f78a25;
}

/*
.index-guess-rec-top .index-guess-rec-top-left .index-guess .index-guess-content ul li .list-box .content-box-intro {
    border-bottom: 1px solid #eee;
}
*/

.index-guess-rec-top .index-guess-rec-top-left .index-guess .index-guess-content ul li .list-box .content-box-intro p {
    color: #999;
    width: 200px;
    height: 40px;
    line-height: 20px;
    overflow: hidden;
}

.index-guess-rec-top .index-guess-rec-top-left .index-guess .index-guess-content ul li .list-box .content-box-priceSale {
    width: 200px;
    height: 34px;
    /*border-bottom: 1px solid #eee;*/

}

.index-guess-rec-top .index-guess-rec-top-left .index-guess .index-guess-content ul li .list-box .content-box-priceSale span {
    display: block;
    height: 33px;
    line-height: 33px;
}

.index-guess-rec-top .index-guess-rec-top-left .index-guess .index-guess-content ul li .list-box .content-box-priceSale .price {
    float: left;
    height: 34px;
    line-height: 34px;
    color: #f76120; font-family:Arial, Helvetica, sans-serif;
}

.index-guess-rec-top .index-guess-rec-top-left .index-guess .index-guess-content ul li .list-box .content-box-priceSale .price em {
    font-style: normal;
    font-size: 22px;
    font-family: "microsoft yahei";
}

.index-guess-rec-top .index-guess-rec-top-left .index-guess .index-guess-content ul li .list-box .content-box-priceSale .sale {
    float: right;
    color: #939393;
}

.index-guess-rec-top .index-guess-rec-top-left .index-guess .index-guess-content ul li .list-box .content-box-store {
    padding-top: 6px;
    border-top: 1px solid #eee;
}

.index-guess-rec-top .index-guess-rec-top-left .index-guess .index-guess-content ul li .list-box .content-box-store a {
    width: 200px;
    overflow: hidden;
}

.index-guess-rec-top .index-guess-rec-top-left .index-guess .index-guess-content ul li .list-box .content-box-store a i {
    display: block;
    width: 25px;
    height: 25px;
    line-height: 25px;
    font-size: 20px;
    font-family: "宋体";
    color: #93bc4f;
    font-style: normal;
    float: left;
}

.index-guess-rec-top .index-guess-rec-top-left .index-guess .index-guess-content ul li .list-box .content-box-store a em {
    float: left;
    line-height: 25px;
    font-size: 12px;
    font-family: "宋体";
    color: #666;
    font-style: normal;
}

.index-guess-rec-top .index-guess-rec-top-left .index-guess .index-guess-content ul li .list-box .content-box-store a em:hover {
    color: #333;
}

/**商家推荐 热门 特惠标签*/
.index-guess-rec-top .index-guess-rec-top-left .index-guess .index-guess-content ul li .list-box .index-rec-markup {
    position: absolute;
    width: 200px;
    height: 40px;
    margin-top: -4px;
}

.index-guess-rec-top .index-guess-rec-top-left .index-rec {
    margin-top: 25px;
}

/**排行榜*/
.index-guess-rec-top .index-guess-rec-top-right {
    width: 197px;
    height: 720px;
    float: right;
    border: 1px solid #eee;
}

.index-guess-rec-top .index-guess-rec-top-right .index-topRight {
    width: 197px;
    border-bottom: 1px solid #eee;
}

.index-guess-rec-top .index-guess-rec-top-right .index-topRight .topRight-title {
    width: 160px;
    margin: 0px auto;
}

.index-guess-rec-top .index-guess-rec-top-right .index-topRight .topRight-title span {
    line-height: 50px;
    font-size: 20px;
    font-family: "microsoft yahei";
    font-weight: 400;
    color: #1d1d1d;
}

.index-guess-rec-top .index-guess-rec-top-right .topRight-content {
    width: 197px;
    height: auto;
    overflow: hidden;

}

.index-guess-rec-top .index-guess-rec-top-right .topRight-content ul {
    width: 197px;
    margin: 0px auto;
}

.index-guess-rec-top .index-guess-rec-top-right .topRight-content ul .borderLine {
    border-bottom: 1px solid #eee;
}

.index-guess-rec-top .index-guess-rec-top-right .topRight-content ul li {
    width: 197px;
    position: relative;
}

.index-guess-rec-top .index-guess-rec-top-right .topRight-content ul li .cbox {
    width: 160px;
    height: auto;
    margin: 10px auto;
    overflow: hidden;
}

.index-guess-rec-top .index-guess-rec-top-right .topRight-content ul li .cbox .left {
    width: 95px;
    float: left;
    border: 1px solid #eee;
    border-radius: 2px;
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    -o-border-radius: 2px;
}

.index-guess-rec-top .index-guess-rec-top-right .topRight-content ul li .cbox .left a {
    text-align: center;
}

.index-guess-rec-top .index-guess-rec-top-right .topRight-content ul li .cbox .left img {
    width: 90px;
    height: 72px;
    margin: 5px auto;
}

.index-guess-rec-top .index-guess-rec-top-right .topRight-content ul li .cbox .right {
    width: 60px;
    height: 84px;
    float: right;
    overflow: hidden;
}

.index-guess-rec-top .index-guess-rec-top-right .topRight-content ul li .cbox .right a {
    width: 60px;
    height: 51px;
    line-height: 17px;
    color: #999;
}

.index-guess-rec-top .index-guess-rec-top-right .topRight-content ul li .cbox .right a:hover {
    color: #f26020;
}

.index-guess-rec-top .index-guess-rec-top-right .topRight-content ul li .cbox .right p {
    color: #f26020;
    margin-top: 10px;
    height: 15px;
    line-height: 15px;
}

.index-guess-rec-top .index-guess-rec-top-right .topRight-content ul li .topMarkup {
    position: absolute;
    right: 0px;
    bottom: 0px;
    width: 20px;
    height: 20px;
    line-height: 20px;
    color: #fff;
    text-align: center;
    background: #f26020;
    font-family: "microsoft yahei";
}

/**最新商家*/

.index-news-shop {
    width: 1170px;
    margin: 10px auto;
}

.index-news-shop .index-news-box .news-box-top {
    width: 1170px;
    height: 50px;
    overflow: hidden;
}

.index-news-shop .index-news-box .news-box-top .left {
    width: 225px;
    float: left;
}

.index-news-shop .index-news-box .news-box-top .left .news-icon {
    float: left;
    display: block;
    width: 37px;
    height: 37px;
    margin-top: 6px;
    margin-right: 5px;
    background: url(../images/news.png) center center;
}

.index-news-shop .index-news-box .news-box-top .left em {
    float: left;
    font-style: normal;
    line-height: 50px;

    font-size: 20px;
    font-family: "Microsoft Yahei";
    font-weight: 500;
}

.index-news-shop .index-news-box .news-box-top .right {
    width: 320px;
    float: right;
}

.index-news-shop .index-news-box .news-box-top .right ul {
    width: 320px;
    overflow: hidden;
}

.index-news-shop .index-news-box .news-box-top .right ul .borderLine {
    border-right: 1px solid #eee;
}

.index-news-shop .index-news-box .news-box-top .right ul li {
    float: right;
    padding-left: 15px;
    padding-right: 15px;
    line-height: 15px;
    margin-top: 20px;
}

.index-news-shop .index-news-box .news-box-top .right ul li a {
    color: #666;
}

.index-news-shop .index-news-box .news-box-top .right ul li a:hover {
    color: #f26020;
}

.index-news-shop .index-news-box .news-box-line {
    width: 1170px;
    overflow: hidden;
    margin: 0px auto;
    height: 3px;
    background: #f1601f;
}

.index-news-shop .index-news-box .news-box-body {
    width: 1168px;
    margin: 5px auto;
    border: 1px solid #eee;
    border-radius: 2px;
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    -o-border-radius: 2px;
    overflow: hidden;
}

.index-news-shop .index-news-box .news-box-body .news-box {
    width: 292px;
    height: auto;
    cursor: pointer;
    float: left;
}

.OutLineBox {
    width: 288px;
    border: 2px solid transparent;
    cursor: pointer;
}

.OutLineBox:hover {
    border: 2px solid transparent;
}

.index-news-shop .index-news-box .news-box-body .news-box .content-box {
    width: 247px;
    margin: 25px auto;
    position: relative;
}

.index-news-shop .index-news-box .news-box-body .news-box .CB-markup {
    position: absolute;
    height: 40px;
    margin-top: -4px;
    margin-left: -1px;
}

.index-news-shop .index-news-box .news-box-body .news-box .CB-name a {
    color: #666;
    font-size: 14px;
    height: 30px;
    line-height: 30px;
    font-weight: 700;
}

.index-news-shop .index-news-box .news-box-body .news-box .CB-pic a {
    text-align: center;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.index-news-shop .index-news-box .news-box-body .news-box .CB-name a:hover {
    color: #f26020;
}

.index-news-shop .index-news-box .news-box-body .news-box .CB-intro {
    /*border-bottom: 1px solid #eee;*/
}

/**20150723 添加样式*/
.index-news-shop .index-news-box .news-box-body .news-box .CB-price {
    overflow: hidden;
    height: 34px;
}

.index-news-shop .index-news-box .news-box-body .news-box .CB-price .CB-price-left {
    float: left;
    height: 34px;
    line-height: 34px;
    color: #f78a25;
    font-weight: 700;
}

.index-news-shop .index-news-box .news-box-body .news-box .CB-price .CB-price-right {
    float: right;
    height: 34px;
    line-height: 34px;
    color: #969696;
}

.index-news-shop .index-news-box .news-box-body .news-box .CB-price .CB-price-left em {
    font-style: normal;
    font-size: 22px;
    font-family: "microsoft yahei";
}

.index-news-shop .index-news-box .news-box-body .news-box .CB-intro p {
    color: #999;
    height: 30px;
    line-height: 30px;
    overflow: hidden;
}

.CB-store {
    border-top: 1px solid #eee;
    overflow: hidden
}

.CB-store .store-icon {
    float: left;
    width: 25px;
    height: 25px;
    font-size: 20px;
    font-family: "宋体";
    line-height: 25px;
    color: #99c15e;
    font-style: normal;
}

.CB-store em {
    font-style: normal;
    font-style: normal;
    font-family: "microsoft yahei";
    color: #666;
    line-height: 25px;
    height: 25px;
}

.CB-store em:hover {
    color: #333;
}

/**页底*/
/**index-footer*/
.index-footer {
    width: 100% !important;
    background: #f26020;
    height: 3px;
    margin: 40px auto 20px;
}

/**index-footer-list*/
.index-footer-list {
    width: 1200px;
    margin: 20px auto;
}

.index-footer-list .index-footer-listBox {
    width: auto;
    height: auto;
    overflow: hidden;
    margin: 15px auto;
}

.index-footer-list .index-footer-listBox ul li {
    width: 299px;
    float: left;
}

.index-footer-list .index-footer-listBox ul .borderLine {
    border-right: 1px solid #eee;
}

.index-footer-list .index-footer-listBox ul li .index-footer-box {
    width: 212px;
    height: auto;
    margin: 10px auto;
}

.index-footer-list .index-footer-listBox ul li .index-footer-box .F-floor {
    width: auto;
    height: 45px;
    overflow: hidden;
    margin-bottom: 10px;
}

.index-footer-list .index-footer-listBox ul li .index-footer-box .F-floor .footer-icon {
    width: 35px;
    height: 35px;
    margin-top: 5px;
    float: left;
    background: url(../images/compass.png) no-repeat;
    background-size: contain;
    margin-right: 5px;
}

.index-footer-list .index-footer-listBox ul li .index-footer-box .F-floor .pay-icon {
    width: 35px;
    height: 35px;
    margin-top: 5px;
    float: left;
    background: url(../images/pay.png) no-repeat;
    background-size: contain;
    margin-right: 5px;
}

.index-footer-list .index-footer-listBox ul li .index-footer-box .F-floor .safeguard-icon {
    width: 35px;
    height: 35px;
    margin-top: 5px;
    float: left;
    background: url(../images/safegurde.png) no-repeat;
    background-size: contain;
    margin-right: 5px;
}

.index-footer-list .index-footer-listBox ul li .index-footer-box .F-floor .feature-icon {
    width: 35px;
    height: 35px;
    margin-top: 5px;
    float: left;
    background: url(../images/feature.png) no-repeat;
    background-size: contain;
    margin-right: 5px;
}

.index-footer-list .index-footer-listBox ul li .index-footer-box .F-floor em {
    font-style: normal;
    font-size: 20px;
    font-family: "宋体";
    color: #999;
    line-height: 45px;
}

.index-footer-list .index-footer-listBox ul li .index-footer-box .S-floor {
    width: auto;
    height: 20px;
    overflow: hidden
}

.index-footer-list .index-footer-listBox ul li .index-footer-box .S-floor span {
    display: block;
    line-height: 20px;
}

.index-footer-list .index-footer-listBox ul li .index-footer-box .S-floor span a {
    color: #999;
}

.index-footer-list .index-footer-listBox ul li .index-footer-box .S-floor span a:hover {
    color: #666;
    text-decoration: underline;
}

.index-footer-list .index-footer-listBox ul li .index-footer-box .S-floor .left-txt {
    float: left;
}

.index-footer-list .index-footer-listBox ul li .index-footer-box .S-floor .right-txt {
    float: right;
}

.index-footer-list .sub-index-page {
    width: 475px;
    margin: 10px auto;
    overflow: hidden;
}

.index-footer-list .sub-index-page a {
    width: 77px;
    line-height: 15px;
    color: #666;
    float: left;
    text-align: center;
}

.index-footer-list .sub-index-page a:hover {
    text-decoration: underline;
}

.index-footer-list .sub-index-page .borderLine {
    border-right: 1px solid #eee;
}

.index-footer-list .index-copyRights {
    width: 620px;
    margin: 15px auto;
    overflow: hidden;
}

.index-footer-list .index-copyRights ul {
    margin: 0px auto;
    overflow: hidden
}

.index-footer-list .index-copyRights ul li {
    width: 155px;
    float: left;
    height: auto;
}

.index-footer-list .index-copyRights ul li a {
    text-align: center;
}

/*alt by 20150908 */
.header .top .index-top-right ul li a .cart-icon{display: block;width: 15px;height: 15px;background:url(../images/cart.png) ;float:left;margin-right:3px;}
.header .top .index-top-right ul li a .cart-markup{float: left;line-height: 15px;font-style:normal;}
/*20150908*/


